{% extends "account/base.html" %}
{% load crispy_forms_tags static %}

{% block head_title %}Register{% endblock %}

{% block css %}
<style>
.error {
    color: red;
}

.predefined_format {
    display: none;
}
</style>
{% endblock %}


{% block inner %}
<section>
  <h1 class="text-center">Register</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-secondary w-100" type="submit">Register &raquo;</button>
          </form>
        </div>
        <p class="text-center btn btn-light w-100">Already have an account? Then please <a href="{{ login_url }}">login</a>.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/users/user_signup.js' %}"></script>
{% endblock javascript %}