{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username|title }}{% endblock %}

{% block content %}
    {% if user.latitude and user.longitude %}{% include "users/location.html" %}{% endif %}
  <section>
  <form class="form-horizontal" method="post" action="{% url 'users:profile' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary w-100">Update</button>
      </div>
    </div>
  </form>
  </section>
{% endblock %}
