{% extends "base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ user.username|title }}{% endblock %}

{% block content %}
    {% if user.latitude and user.longitude %}{% include "users/user_location.html" %}{% endif %}
  <section>
  <form class="form-horizontal" method="post" action="{% url 'users:user_profile' %}" id="profile_form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-secondary w-100">Update</button>
      </div>
    </div>
  </form>
  </section>
{% endblock %}