{% extends "base.html" %}
{% block title %}{{ user.username|title }}{% endblock %}

{% block content %}
    {% if user.latitude and user.longitude %}{% include "users/user_location.html" %}{% endif %}
  <section>
    <div class="card">
    <div class="card-header">
      User Details
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ user.username }}</h5>
      <p class="card-text">Email: {{ user.email }}</p>
      {% if user.home_address %}<p class="card-text">Home Address: {{ user.home_address }}</p>{% endif %}
      {% if user.home_address %}<p class="card-text">Latitude: {{ user.latitude }}</p>{% endif %}
      {% if user.home_address %}<p class="card-text">Longitude: {{ user.longitude }}</p>{% endif %}
    </div>
  </div>
  </section>
{% endblock %}
